//Used for grids
//TO DO ! Add the other paddng sizes (0 to 7) !
.pa4-half {
  padding : $spacing-large / 2;
}

//ns
.pa4-half-ns {
  @media #{$breakpoint-not-small} {
    padding : $spacing-large / 2;
  }
}

//m
.pa4-half-m {
  @media #{$breakpoint-medium} {
    padding : $spacing-large / 2;
  }
}
